body {
  padding: 50px;
  margin: 0px;
  font: 14px "Futura", Helvetica, Arial, sans-serif;
  background-color: #F2F1EF;
  color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	background-color: #86E2D5;
}

.brand {
	font-size: 80px;
	font-weight: 300;
	margin: 0;
}

.sub-title {
	font-size: 18px;
	color: lightgrey;
	font-weight: 300;
}

.container {
	max-width: 700px;
	margin: 0 auto;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.nav a {
	font-size: 20px;
}

.inline-list li {
	display: inline-block;
	margin: 5px;
}

.resp-img {
	width: 100%;
	box-shadow: 0px 0px 1px 0px #333;
	border-radius: 5px;
}

.img-logo {
	width: 220px;
	height: 170px;
}

@media(max-width: 520px) {
	body {
		padding: 5px;
	}
	.brand {
		font-size: 35px;
	}
	.nav {
		text-align: left;
	}
}