body {
  padding: 50px;
  margin: 0px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background-image: url("/images/stars.jpg");
  background-repeat: repeat;
  background-size: 100px 300px;
  border: none;
  color: #333;
}

a {
  color: #00B7FF;
}

.brand {
	font-family: 'Lobster', cursive;
	border: 10px double yellow;
	text-align: center;
}

#main-nav {
	width: 250px;
	margin: 0 auto;
	font-size: 20px;
}

.inline-list li {
	display: inline-block;
	margin: 5px;
}
.img-logo {
	width: 200px;
	height: 150px;
}