html {
    background: url('/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 6px solid;
  height: 98%;
}
body {
  color: #222;
  font-family: helvetica;
  text-align: center;
  font-size: 20px;
}

.title {
  font-family: times;
  font-size: 130px;
  margin-bottom: 0px;
}

.sub-title {
  font-weight: 500;
  font-size: 30px;
  margin-top: 0px;
}

.lambda {
  font-family: monospace;
  font-size: 20px;
}

.inline-list {
  padding: 0px;
}

.inline-list li {
  display: inline;
  margin-right: 10px;
}

a {
  color: #FF5D5D;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

a:hover {
  color: #222;
}