@media(max-width: 588px) {

	.header {
		background-image: url("/images/mobile_rockfort.jpg");
		height: 140px;
	}

	ul.nav {
		display: block;
	}

	.brand {
		font-size: 35px;
	}
	.brand a {
		color: #222;
	}

	.nav li:hover {
		background-color: #eee;
	}

	.nav a {
		color: #222;
	}

	.tags {
		right: 26%;
	}
}