<footer class="site-footer">
<div class="container">
	
<div class="col-1-2">
	<h1 class="footer-title">Paul Serraino</h1>
	<span class="sub-title">Web Developer</span>
	<ul class="inline-list social">
		<li><a href="https://www.facebook.com/paul.serraino" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
		<li><a href="https://twitter.com/pau1pau1" target="_blank"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://github.com/paulserraino" target="_blank"><i class="fa fa-github"></i></a></li>
		<li><a href="https://www.youtube.com/channel/UC4jjKLXy4Z2nh5W3MUFkD4Q" target="_blank"><i class="fa fa-youtube"></i></a></li>
	</ul>
</div>
<div class="col-1-2">
	<nav class="footer-nav">
		<ul>
			<li><a href="/about/">About</a></li>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="/tutorials/">Tutorials</a></li>
			<li><a href="/resume/">Resume</a></li>
		</ul>
	</nav>
</div>
</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
