<footer class="site-footer">
<div class="container">
	<h1 class="footer-title">Paul Serraino</h1>
	<span class="sub-title">Web Developer</span>
	<ul class="inline-list social">
		<li><a href="https://github.com/paulserraino" target="_blank">
			<span class="icon-bg">
				<i class="fa fa-github"></i>
			</span>
		</a></li>
		<li><a href="http://codepen.io/paulserraino" target="_blank">
			<span class="icon-bg">
				<i class="fa fa-codepen"></i>
			</span>
		</a></li>
		<li><a href="https://twitter.com/pauljstx" target="_blank">
			<span class="icon-bg">
				<i class="fa fa-twitter"></i>
			</span>
		</a></li>
	</ul>

</div>
</footer>
