<footer class="site-footer">
<div class="container">
	<h1 class="footer-title">Paul Serraino</h1>
	<span class="sub-title">Web Developer</span>
	<ul class="inline-list social">
		<li><a href="https://github.com/paulserraino" target="_blank">
			<span class="icon-bg">
				<i class="fa fa-github"></i>
			</span>
		</a></li>
		<li><a href="https://twitter.com/pau1pau1" target="_blank">
			<span class="icon-bg">
				<i class="fa fa-twitter"></i>
			</span>
		</a></li>
		<li><a href="http://www.linkedin.com/pub/paul-serraino/94/67b/70" target="_blank">
			<span class="icon-bg">
				<i class="fa fa-linkedin"></i>
			</span>
		</a></li>
		<li><a href="https://www.youtube.com/channel/UC4jjKLXy4Z2nh5W3MUFkD4Q" target="_blank">
			<span class="icon-bg">
				<i class="fa fa-youtube"></i>
			</span>
		</a></li>
	</ul>

</div>
</footer>