<header class="header">
    <div>
      <div class="col-1-2">
        <h1 class="brand"><a href="/">Paul<br> Serraino</a></h1>
        <span class="sub-title">web developer.</span>
      </div>
      <div class="col-1-2">
        <nav>
          <div class="menu-icon">
            <span class="x-mark hide"></span>
            <span class="hamburger"></span>
          </div>
          <ul class="nav inline-list slider">
            <li><a href="/">blog</a></li>
            <li><a href="/portfolio/">work</a></li>
            <li><a href="/about/">about</a></li>
            <li><a href="https://github.com/paulserraino">code</a></li>
            <li><a href="/resume/">resume</a></li>
          </ul>
        </nav>
      </div>
    </div>
</header>