<header class="header">
    <div class="container center">
    <h1 class="brand"><a href="/">Paul Serraino</a></h1>
    <span class="sub-title">web developer.</span>
    <nav>
      <div class="menu-icon">
        <span class="x-mark hide"></span>
        <span class="hamburger"></span>
      </div>
      <ul class="nav inline-list slider">
        <li><a href="/about/">About</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/tutorials/">Tutorials</a></li>
        <li><a href="/resume/">Resume</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
    </div>
</header>