.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated-slow {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

#grom-man line {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@for $i from 1 to 300 {
  #grom-man line:nth-child(#{$i}) {
    $d: 0.1s;
    -webkit-animation-delay:(#{$i*$d});
    animation-delay:(#{$i*$d});
  }
}
