.divider {
	display: block;
	width: 35%;
	margin: 34px auto 41px auto;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.post-list {
	padding: 0;
}

.post-list li {
	position: relative;
	margin-bottom: 10px;
  margin-top: 36px;
	padding: 10px;
	list-style: none;
}

.post-date {
	font-size: 15px;
}

.post-link {
	color: #333;
	font-weight: 500;
	font-size: 23px;
}

.post-header {
	text-align: center;
}

.post-header h1 {
	//color: $primaryColor;
	font-weight: 700;
	font-size: 35px;
	font-style: normal;
	line-height: 1;
	margin-top: 40px;
	padding-top: 0;
	margin-bottom: 8px;
}


.rss-subscribe {
	margin-top: 50px;
}

.meta {
	margin: 0;
	color: #ddd;
	font-size: 17px;
	display: block;
	text-align: right;
	padding-right: 30px;
}