.post-list li {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
}

.post-date {
	color: #ccc;
	font-size: 15px;
}

.post-link {
	color: #333;
	font-weight: 600;
	font-size: 20px;
}

.rss-subscribe {
	margin-top: 50px;
}

.meta {
	margin: 0;
	color: #ddd;
	font-size: 14px;
}