.post-list li {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
}

.post-date {
	color: #ddd;
	font-size: 14px;
}

.post-link {
	color: #333;
}

.rss-subscribe {
	margin-top: 50px;
}