.header {
	text-align: center;
	background-color: #FFF;
	border-bottom: 1px solid #eee;
	border-top: 2px solid #222;
	background-image: url($bgImg);
	height: 190px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 15px;
}

.brand {
	font-size: 55px;
	font-weight: 400;
	margin: 0;
	padding-top: 36px;
}

.brand a {
	color: $primaryColor;
}

.sub-title {
	font-size: 18px;
	color: #555;
	font-weight: 300;
}

.nav {
	padding: 0px;
}

.nav a {
	font-size: 21px;
	color: $primaryColor;
	font-weight: 400;
}

.nav a:hover {
	color: #222;
	border-bottom: 1px solid #222;
}