.project-list li {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.project-list li a {
	font-size: 22px;	
}

.project-container {
	padding: 15px 0px 0px 0px;
}

.project-container p {
	font-size: 15px;
}
.project-container img {
	width: 100%;
	max-width: 650px;
}

.project-container .visit-site {
	color: #89C4F4;
	font-size: 18px;
	border-bottom: 1px solid transparent;
}
.project-container .visit-site:hover {
	border-bottom: 1px solid #89C4F4;
}