/**
 * Site header
 */
.site-header {
    position: fixed;
    min-height: 56px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 5px 0px;
    z-index: 99;
}

.site-title {
    color: $text-color;
    margin-bottom: 0;
    float: left;
    border-bottom: 2px solid transparent;
    -webkit-transform: translateZ(0);
    transition: all 0.3s ease;


    &,
    &:visited {
        color: $text-color;
    }

    &:hover {
        color: $text-color;
    }
}

.site-title h1 {
    font-family: 'Amethyst';
    font-size: 35px;
    color: rgba(0,0,0,0.6);
    margin-bottom: 0;
}

.site-title span {
    font-size: 15px;
}

.site-nav {
    float: left;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        margin-left: 20px;
        color: $text-color;
        font-size: 20px;
        line-height: $base-line-height;
        padding-bottom: 20px;
        border-bottom: 3px solid transparent;
        -webkit-transform: translateZ(0);
        transition: all 0.3s ease;

        &:hover {
            color: $brand-color;
            border-color: $brand-color;
        }
    }

    a.page-link.active {
        color: $brand-color;
        border-color: $brand-color;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 27px;
                height: 23px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.site-footer::before {
    content: "";
    max-width: calc(800px - (30px * 2));
    margin: 0 auto;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.site-footer .social-media-list {
    float: right;
}

.social-media-list li {
    display: inline;
    margin-left: 5px;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    background-color: #fff;
    padding: 93px 0px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    min-height: 100px;

    > li {
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 17px;
    min-height: 100px;
    padding: 20px;
    color: $text-color;

    &:hover {
        color: $text-color;
        background-color: #fbfbfb;
    }
}

.post-list .post-meta {
    display: block;
    font-size: 14px;
}

.post-list .post-title-link {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 25px;

    @include media-query($on-palm) {
        color: $brand-color;
    }
}

.post-list .post-categories {
    display: inline-block;
    float: right;
    font-size: 14px;
}

.post-list .post-summary {
    color: $text-color;
}

.post-list .post-thumbnail {
    float: left;
    width: 30%;
    height: 100px;
    max-width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;

    @include media-query($on-palm) {
        display: none;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-footer {
  background: #eee;
  padding: 30px 0px;

  #disqus_thread {
    background: #fff;
    padding: 10px 20px;
    margin-top: 30px;
  }
}

.post-preview-wrapper {
  height: 255px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.post-preview {
  position: relative;
  display: inline-block;
  border-radius: 5px;
  margin-left: 5px;
  float: left;
  width: 32.5%;
  min-height: 232px;
  background-color: #fff;
  color: $text-color;
  transition: all 0.3s ease;
}

.post-preview-title {
  margin-bottom: 5px;
  font-size: 24px;
  transition: all 0.3s ease;
}

.post-preview:hover .post-preview-title {
  color: $brand-color;
}

.post-preview-image {
  width: 60px;
  margin-top: 16px;
}

.post-preview-summary {
  padding: 0px 20px;
}

.post-preview-summary, .post-preview-date {
  text-align: left;
}

.post-preview-date {
  position: absolute;
  bottom: 0px;
  margin: 7px;
  font-size: 14px;
}
