{{> header}}

<h1>Projects</h1>

<ul class="inline-list">
	<li>
		<h3>ATX Housing</h3>
		<p>An easy way to search for affordable housing in Austin Texas.
		I made this app to address the booming population growth in Austin Texas, that is driving properties values up. I wanted to provide a reasource that eliminates some of the stress for those looking for affordable housing.</p>
		<p>(<a href="https://github.com/paulserraino/ATXHousing" target="_blank">source code</a>)</p>
		<img src="" alt="atx housing">
	</li>
	<li>
		<h3>Wedding RSVP</h3>
		<p>One of my best friends is getting married next year. I made them a simple rsvp site that will help them track guests.</p>
		<p>(<a href="https://github.com/paulserraino/wedding-rsvp" target="_blank">source code</a>)</p>
		<img src="" alt="wedding rsvp">
	</li>
	<!--
	<li>
		<h3>We Love Letters</h3>
		<p>Sending emails in any typeface.</p>
		<p>(<a href="" target="_blank">source code</a>)</p>
		<img src="" alt="we love letters">
	</li>
	-->
	<li>
		<h3>Poll.it</h3>
		<p>Simple mobile app that lets user put thier questions to a vote.</p>
		<p>(<a href="https://github.com/paulserraino/pollit" target="_blank">source code</a>)</p>
		<img src="" alt="pollit">
	</li>
</ul>

{{> footer}}