.pop-up {
	opacity: 1;	
	-webkit-animation: popupAnimation 0.6s ease;
	-moz-animation: popupAnimation 0.6s ease;
	animation: popupAnimation 0.6s ease;
}

/*
	FIXME: refactor this mess!
*/
@-webkit-keyframes popupAnimation {
	0% {
		opacity: 0;	
		-webkit-transform: translate3d(0px, 60px, 0px);
	}
	100% {
		-webkit-transform: translate3d(0px,0px,0px);
		opacity: 1;	
	}
}
@-moz-keyframes popupAnimation {
	0% {
		opacity: 0;	
		-moz-transform: translate3d(0px, 60px, 0px);
	}
	100% {
		opacity: 1;	
		-moz-transform: translate3d(0px,0px,0px);
	}
}

@keyframes popupAnimation {
	0% {
		opacity: 0;	
		transform: translate3d(0px, 60px, 0px);
	}
	100% {
		transform: translate3d(0px,0px,0px);
		opacity: 1;	
	}
}