.row {
	position: relative;
	clear: both;
	width: 100%;
}

.col-2 {
  float: left;
  width: 20%;
}

.col-3 {
	float: left;
	width: 33.3333%;
}

.col-5 {
	float: left;
	width: 49.8889%
}

.col-6 {
  float: left;
  width: 66%;
}