.img-logo {
	width: 220px;
	height: 170px;
}

.social {
	font-size: 42px;
	margin: 0px;
	padding: 0px;
}

.icon-bg {
	border-radius: 50%;
	display: block;
	color: #333;
	padding: 4px;
	transition: all 0.4s;
}

.icon-bg:hover {
	color: $primaryColor;
}

.fa {
	font-size: 30px;
}

