.img-logo {
	width: 220px;
	height: 170px;
}

.social {
	font-size: 42px;
	margin: 0px;
}

.icon-bg {
	background-color: #A7A9AC;
	border-radius: 50%;
	width: 49px;
	display: block;
	color: #FFF;
	padding: 7px;
	height: 47px;
}