.container {
	position: relative;
	margin: 0 auto;
  max-width: 1100px;
	min-height: 100%;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.hide {
	visibility: hidden;
}

.inline-list li {
	display: inline-block;
	margin: 5px 9px 5px 5px;
}

.resp-img {
	width: 100%;
	box-shadow: 0px 0px 1px 0px #333;
	border-radius: 5px;
}

.selfie {
	width: 45%;
	border-radius: 5px;
}

.link {
	color: #E08283;
}

.affix {
	position: fixed;
	top: 0;
}