//$primaryColor: #FF6666 //red;
//$primaryColor: #2C3E50;
$primaryColor: #F4B350;
$secondaryColor: #333;
$bgImg: "/images/bgs/newya.jpg";
$primaryFont: Georgia, Cambria, "Times New Roman", Times, serif;
